$famired: #C62F36;
$famigold: #846E20;
$famiwhite: #FCFCFC;
$famigrey: #777777;
$famidarkred: #940A24;

.navbar-lewagon {
  justify-content: space-between;
  background: $famidarkred;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 200px;
}

.navbar-light .navbar-nav .active > .nav-link {
  color: white;
  &:hover {
    color: white;
  }
}

.navbar-light .navbar-nav .nav-link {
  color: white;
  &:hover {
    color: white;
  }

}
